# Environment
.env
server/.env
client/.env

# Dependencies
node_modules/
server/node_modules/
client/node_modules/

# Uploads
server/uploads/

# Build output
client/dist/

# Logs
*.log
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
